
.GalleriesShow {
  // height: 100vh;

  .heading {
    img {
      width: 1.2em;
    }
    .title {
      vertical-align: top;
      padding: 0.5em;
      // color: black;
    }
  }

  .narrow {
    max-width: 44em;
    margin: auto;
    padding: 10px;
  }

  .thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;

    .card {
      margin: 0.1em 0.25em;
      width: 5em;
    }
  }

  .full_img_section {
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      margin-bottom: 1em;
      max-width: 100vw;
      max-height: 100vh;
    }
  }
}
